<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.com.innovatech.mobileinvoice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".invoices.BarCodeSearchActivity"
            android:parentActivityName=".invoices.InvoiceActivity"></activity>
        <activity
            android:name=".user.ListUserActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".cash.ListTransactionActivity"
            android:parentActivityName=".cash.TransactionActivity" />
        <activity
            android:name=".cash.TransactionActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".orders.OrderActivity"
            android:parentActivityName=".orders.ListOrderActivity" />
        <activity
            android:name=".orders.ListOrderActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".enterprise.EnterpriseActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".charges.ListChargesActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".invoices.ListInvoiceActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".invoices.SearchClientActivity"
            android:parentActivityName=".invoices.InvoiceActivity" />
        <activity
            android:name=".invoices.InvoiceActivity"
            android:parentActivityName=".invoices.ListInvoiceActivity" />
        <activity
            android:name=".items.ItemActivity"
            android:parentActivityName=".items.ListItemActivity" />
        <activity
            android:name=".items.ListItemActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".clients.ClientActivity"
            android:parentActivityName=".clients.ListClientActivity" />
        <activity
            android:name=".clients.ListClientActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>